/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Fakedes Outline";
  src: url("./fonts/FakedesOutline.otf") format("opentype");
}

@font-face {
  font-family: "Fakedes Outline Bold";
  src: url("./fonts/FakedesOutlineBold.otf") format("opentype");
}

* {
  font-family: "Poppins", "Georgia", "Times New Roman", serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  background-color: #f1f2f3;
}

html,
body {
  font-family: "Poppins", "Georgia", "Times New Roman", serif;
  width: 100%;
  margin: 0;
  padding: 0;
  color: #4990f9;
  line-height: 22.4px;
  background-color: #f1f2f3;
}

header {
  position: relative;
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
  font-family: "Poppins", "Georgia", "Times New Roman", serif;
  font-weight: 700;
  color: #4990f9;
  line-height: 1.2;
}

h1,
.h1 {
  font-size: 44.8px;
}

h2,
.h2 {
  font-size: 22.4px;
}

h3,
.h3 {
  font-size: 16px;
}

p {
  font-family: "Poppins", "Georgia", "Times New Roman", serif;
  font-size: 16px;
  line-height: 22.4px;
}

.p-large {
  font-family: "Poppins", "Georgia", "Times New Roman", serif;
  font-size: 31px;
  line-height: 44.8px;
}

a {
  text-decoration: none;
  color: #4990f9;
}

a:hover {
  color: #036;
}

.link-logo {
  font-size: 55px;
  display: inline-block;
  width: 55px;
}

.text-white {
  color: #fff;
}

.text-black {
  color: #000;
}

.text-link {
  font-family: "Poppins", "Georgia", "Times New Roman", serif;
  color: #4990f9;
  fill: currentColor;
}

.text-link:hover {
  color: #000;
}

input {
  margin-right: 11.2px;
}

.form-inline .form-control {
  padding: calc(22.4px / 2);
  font-size: 16px;
  line-height: 22.4px;
}

@media (min-width: 768px) {
  .form-inline .form-control {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .form-inline .form-control {
    width: auto;
  }
}

button[type="submit"],
.button {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  cursor: pointer;
  background: transparent;
  border: none;
  border-radius: 0;
  width: auto;
  margin: 0;
  padding: 0;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  text-align: left;
  display: inline-block;
  width: auto;
  text-align: center;
  padding: calc(22.4px / 2);
  border-radius: 0.25rem;
  font-size: 16px;
  line-height: 22.4px;
  background-color: #fff;
  color: #4990f9;
}

button[type="submit"]:disabled,
.button:disabled {
  opacity: 0.75;
  cursor: not-allowed;
}

button[type="submit"]:not(:disabled):hover,
.button:not(:disabled):hover {
  background-color: #e6e6e6;
}

button[type="submit"]:hover,
.button:hover {
  color: #fff;
}

button[type="submit"].button-cta,
.button.button-cta {
  width: 100%;
  padding: 22.4px;
}

button[type="submit"].text-white,
.button.text-white {
  background: #fff;
  color: #4990f9;
}

button[type="submit"].text-white:hover,
.button.text-white:hover {
  color: #036;
  background: #e6e6e6;
}

.text-black button[type="submit"], .text-black
.button {
  background: #fff;
  color: #000;
}

.text-black button[type="submit"]:hover, .text-black
.button:hover {
  color: #333;
  background: white;
}

.styled-select {
  position: relative;
  color: #4990f9;
}

.styled-select select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  cursor: pointer;
  background: transparent;
  border: none;
  border-radius: 0;
  width: auto;
  margin: 0;
  padding: 0;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  text-align: left;
  font-family: "Poppins", "Georgia", "Times New Roman", serif;
  font-size: 16px;
  line-height: 22.4px;
  padding-right: 22.4px;
  color: currentColor;
  width: 100%;
}

.styled-select .inline-icon {
  position: absolute;
  top: 0;
  right: 0;
  pointer-events: none;
  font-size: 0.65em;
}

.text-white .styled-select {
  color: #aaa;
}

.text-white .styled-select:hover {
  color: #fff;
}

.text-black .styled-select {
  color: #000;
}

.text-black .styled-select:hover {
  color: #333;
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

.wrapper {
  padding-left: 44.8px;
  padding-right: 44.8px;
}

@media (max-width: 767px) {
  .wrapper {
    padding-left: 22.4px;
    padding-right: 22.4px;
  }
}

.page-section {
  min-height: calc(100vh - 158px);
}

@media (min-width: 992px) and (max-width: 1399px) {
  .page-section {
    min-height: calc(100vh - 139px);
  }
}

@media (min-width: 992px) {
  .grid-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[12];
        grid-template-columns: repeat(12, 1fr);
    -ms-grid-rows: (1fr)[12];
        grid-template-rows: repeat(12, 1fr);
  }
}

.fancy-font {
  font-family: "Fakedes Outline", serif;
}

.fancy-font-bold {
  font-family: "Fakedes Outline Bold", serif;
}

.font-bold {
  font-weight: 700;
}

.mh-100-vh {
  min-height: 100vh;
}

.btn {
  border-radius: 0;
}

.btn-primary {
  background-color: #4990f9;
  border-color: #4990f9;
}

.jumbotron {
  border-radius: 0;
}

.bg-white {
  background-color: #fff;
}

.bg-absolute {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
}

.bg-cover {
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-frame-white {
  background-color: #fff;
}

.bg-border-blue {
  border: 1rem solid #4990f9;
}

.bg-lake-beach-view {
  background-image: url("./images/smalllake.jpg");
}

.bg-bbl {
  background-image: url("./images/big-bass-lake.jpg");
}

.bg-lake-beach-two {
  background-image: url("./images/second-beach-view.jpg");
}

.logo {
  width: 70px;
}

@media (min-width: 992px) {
  .logo {
    width: 75px;
  }
}

.scroll-container .scroll-button {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  cursor: pointer;
  background: transparent;
  border: none;
  border-radius: 0;
  width: auto;
  margin: 0;
  padding: 0;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  text-align: left;
  color: #fff;
}

.text-white {
  color: #fff;
}

.text-white h1,
.text-white .h1,
.text-white h2,
.text-white .h2,
.text-white h3,
.text-white .h3,
.text-white h4,
.text-white .h4 {
  color: #fff;
}

.text-white p,
.text-white .accent-color {
  color: #ccc;
}

.text-white a {
  color: #fff;
}

.text-white a:hover {
  color: #fff;
}

@media (max-width: 991px) {
  .bam-btn {
    font-size: 14px;
  }
}

@-webkit-keyframes fadeInOut {
  0% {
    opacity: 1;
  }
  47.5% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  97.5% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 1;
  }
  47.5% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  97.5% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOutIn {
  0% {
    opacity: 0;
  }
  47.5% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  97.5% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOutIn {
  0% {
    opacity: 0;
  }
  47.5% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  97.5% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

header {
  background: #fff;
}

#js-menu-top {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: #fff;
  z-index: 10;
}

.nav-two-rows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navbar {
  padding: 0;
}

.navbar-light .navbar-brand {
  color: #4990f9;
}

.navbar-light .navbar-nav .nav-link {
  color: #4990f9;
}

.navbar-light .form-control {
  color: #4990f9;
  border-color: #4990f9;
  max-width: 300px;
}

.navbar-light .form-control::-webkit-input-placeholder {
  color: #4990f9;
}

.navbar-light .form-control:-ms-input-placeholder {
  color: #4990f9;
}

.navbar-light .form-control::-ms-input-placeholder {
  color: #4990f9;
}

.navbar-light .form-control::placeholder {
  color: #4990f9;
}

@media (min-width: 992px) and (max-width: 1280px) {
  .navbar-light .form-control {
    max-width: 160px;
  }
}

.navbar-light .form-inline .btn {
  color: #4990f9;
}

.nav-top .nav-link {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.nav-top .nav-link.navbar-brand {
  text-align: center;
}

@media (max-width: 991px) {
  .nav-top .nav-link.navbar-brand {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.nav-top .nav-link.nav-top-end {
  text-align: right;
}

.nav-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-middle .nav-middle-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.border-lr {
  border-right: 3px solid #4990f9;
  border-left: 3px solid #4990f9;
}

@media (max-width: 991px) {
  .nav-top,
  .nav-middle,
  .nav-bottom {
    border-bottom: 1px solid #036;
  }
  .bam-link {
    padding: 0 0 0 1rem;
  }
}

.nav-top,
.nav-middle {
  border-bottom: 3px solid #4990f9;
  width: 100%;
}

.nav-bottom {
  border-bottom: 6px solid #4990f9;
  width: 100%;
}

.nav-icon {
  color: #4990f9;
}

.nav-middle .nav-item,
.nav-top-middle .nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-middle .nav-item .nav-link-with-icon,
.nav-top-middle .nav-item .nav-link-with-icon {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.nav-middle .nav-item .nav-link-with-icon .icon,
.nav-top-middle .nav-item .nav-link-with-icon .icon {
  width: 40px;
  max-height: 40px;
}

.navbar-brand {
  margin-right: 0;
}

.nav-top-middle {
  display: none;
}

.nav-middle {
  display: block;
}

@media (min-width: 992px) {
  .nav-top .nav-link-toggler {
    display: none;
  }
  .nav-top .nav-link.navbar-brand {
    text-align: left;
  }
  .nav-top-middle {
    display: block;
  }
  .nav-middle {
    display: none;
  }
}

@media (max-width: 991px) {
  body.navbar-collapse-open {
    overflow: hidden;
  }
}

.footer {
  border-top: 6px solid #4990f9;
  background: #fff;
  padding-top: 89.6px;
  padding-bottom: 44.8px;
}

.footer > * {
  color: #4990f9;
}

.footer .footer-top {
  margin-bottom: 44.8px;
}

@media (min-width: 992px) {
  .footer .footer-bottom {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer .footer-bottom .footer-email {
    margin-right: auto;
  }
  .footer .footer-bottom .footer-year {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.page-home .home-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  z-index: 2;
}

.page-home .home-top > div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.page-home .home-top .home-top-logo {
  -webkit-box-flex: 7;
      -ms-flex: 7;
          flex: 7;
  background-color: #fff;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-home .home-top .home-top-logo .logo {
  width: 200px;
}

.page-home .home-top .bg-blue {
  background-color: #4990f9;
}

.page-home .hl-card {
  z-index: 2;
  position: relative;
  background-color: #fff;
  margin-bottom: 44.8px;
  border: 10px solid #4990f9;
  max-width: 280px;
}

.page-home .hl-card .hl-card-badge {
  position: absolute;
  top: -50px;
  left: 20%;
  background-color: #4990f9;
  color: #fff;
  border-radius: 50%;
  height: 80px;
  width: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 6px solid #fff;
}

.page-home .hl-card .hl-card-badge .hl-card-icon {
  height: 40px;
}

.page-home .hl-card .hl-card-content {
  color: #4990f9;
  padding: 44.8px 22.4px 22.4px;
}

@media (min-width: 992px) {
  .page-home .hl-card {
    max-width: 400px;
  }
}

.page-home .brass-pelican {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  padding-top: 134.4px;
  padding-bottom: 89.6px;
}

.page-home .brass-pelican::before {
  content: "";
  background: url("./images/svg/waves-2.svg") #fff7d6;
  position: absolute;
  background-repeat: repeat-y;
  top: -20px;
  left: -20px;
  right: -20px;
  bottom: -20px;
}

.page-home .brass-pelican .brass-pelican-image {
  max-width: 280px;
}

.page-home .brass-pelican .brass-pelican-image {
  z-index: 1;
  min-height: 30vh;
}

.page-home .brass-pelican .brass-pelican-image img {
  -o-object-fit: cover;
     object-fit: cover;
}

.page-home .brass-pelican .brass-pelican-card {
  z-index: 2;
  position: relative;
  border: 10px solid #4990f9;
  background-color: #fff;
  margin-bottom: 44.8px;
}

.page-home .brass-pelican .brass-pelican-badge {
  position: absolute;
  top: -50px;
  left: 20%;
  background-color: #4990f9;
  color: #fff;
  border-radius: 50%;
  height: 80px;
  width: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 6px solid #fff;
}

.page-home .brass-pelican .brass-pelican-badge .pelican-icon {
  height: 40px;
}

.page-home .brass-pelican .hl-card-content .brass-pelican-headline {
  margin-bottom: 22.4px;
}

.page-home .brass-pelican .hl-card-content hr {
  border-color: #4990f9;
}

.page-home .brass-pelican .hl-card-content .brass-pelican-menu-link {
  display: block;
  margin-top: 22.4px;
  text-decoration: underline;
}

@media (min-width: 992px) {
  .page-home .brass-pelican .hl-card {
    margin-top: -25vh;
    margin-left: -5vw;
  }
  .page-home .brass-pelican .brass-pelican-image {
    margin-right: -30vw;
    max-width: 400px;
  }
}

.page-home .about-container {
  color: #fff7d6;
  position: relative;
  margin-bottom: 0;
  overflow: hidden;
}

.page-home .about-container .bg-about-color {
  background-color: #036;
}

.page-home .about-container .bg-about-image {
  background-image: url("./images/holiday-lakes-map.svg");
  margin: -5px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 2;
  opacity: 0.1;
}

.page-home .about-container .about-content {
  z-index: 3;
}

.page-home .about-container .about-content .about-headline {
  color: #fff7d6;
  margin-bottom: 22.4px;
}

.page-home .about-container .about-content .about-btn {
  margin-top: 22.4px;
}

.page-home .about-container .about-content hr {
  border-color: #fff7d6;
}

@media (min-width: 992px) {
  .page-home .about-container .bg-about-image {
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
    opacity: 0.2;
    background-position: right bottom;
  }
  .page-home .about-container .bg-about-image:hover {
    opacity: 1;
  }
}

.page-home .boating {
  background-color: #4990f9;
  color: #fff;
  position: relative;
  overflow: hidden;
}

.page-home .boating .boating-image {
  max-width: 500px;
  max-height: 400px;
  margin: auto auto 120px;
  top: auto;
  opacity: 0.2;
}

.page-home .boating .boating-image:first-of-type img {
  -webkit-animation: fadeInOut 10s ease infinite;
          animation: fadeInOut 10s ease infinite;
}

.page-home .boating .boating-image:nth-of-type(2) img {
  -webkit-animation: fadeOutIn 10s ease infinite;
          animation: fadeOutIn 10s ease infinite;
}

@media (min-width: 992px) {
  .page-home .boating .boating-content {
    position: relative;
    z-index: 2;
    color: #fff7d6;
  }
}

@media (min-height: 950px) {
  .page-home .boating .boating-image {
    margin: auto auto 300px;
  }
}

.page-home .announcements .announcements-section {
  margin-top: 22.4px;
  margin-bottom: 22.4px;
}

.page-home .announcements .announcements-section .announcements-item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding-right: 0;
  padding-left: 0;
}

.page-home .announcements .announcements-section .announcements-bottom,
.page-home .announcements .announcements-section .announcements-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.page-home .announcements .announcements-section .announcements-top-left {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-home .announcements .announcements-section .announcements-top-left .announcements-top-left-headline {
  position: relative;
  z-index: 2;
}

.page-home .announcements .announcements-section .announcements-top-left .announcements-top-left-image {
  max-height: 250px;
  max-width: 250px;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: -100px;
}

.page-home .announcements .announcements-section .announcements-bottom-left-bg-image {
  max-height: 180px;
  max-width: 125px;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: -100px;
  margin-left: -20px;
}

.page-home .announcements .announcements-section .announcements-top-right {
  margin-top: calc(44.8px * 2);
}

.page-home .announcements .announcements-section .announcements-bottom-right {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  margin-bottom: 22.4px;
}

.page-home .announcements .announcements-section .announcements-bottom-right .announcements-bottom-right-headline {
  margin-bottom: 22.4px;
}

@media (min-width: 992px) {
  .page-home .announcements .announcements-section {
    margin: 44.8px;
  }
  .page-home .announcements .announcements-section .announcements-bottom,
  .page-home .announcements .announcements-section .announcements-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: initial;
        -ms-flex-align: initial;
            align-items: initial;
  }
  .page-home .announcements .announcements-section .announcements-top-left {
    margin: 44.8px 44.8px 0;
  }
  .page-home .announcements .announcements-section .announcements-top-right,
  .page-home .announcements .announcements-section .announcements-bottom-right {
    padding: 0 calc(44.8px * 2) 22.4px;
  }
  .page-home .announcements .announcements-section .announcements-bottom-left-bg-image {
    max-width: 180px;
  }
  .page-home .announcements .announcements-section .announcements-bottom-left {
    margin-top: 224px;
  }
  .page-home .announcements .announcements-section .announcements-top-right {
    margin-top: 89.6px;
  }
  .page-home .announcements .announcements-section .announcements-top-left-headline {
    font-size: 89.6px;
    line-height: 1.2;
    text-align: center;
  }
  .page-home .announcements .announcements-section .announcements-bottom-right {
    -webkit-box-ordinal-group: initial;
        -ms-flex-order: initial;
            order: initial;
    margin-bottom: 0;
  }
}

.page-home .explore-container {
  color: #036;
}

@media (min-width: 992px) {
  .page-home .explore-container {
    min-height: 50vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .page-home .explore-container .explore-image img {
    -o-object-fit: cover;
       object-fit: cover;
  }
  .page-home .explore-container > div {
    width: 50%;
  }
}

.page-home .beacon {
  background: url("./images/svg/waves-2.svg");
  background-repeat: repeat-y;
}

.page-home .beacon .hl-card {
  max-width: 500px;
}

.page-home .beacon .beacon-card {
  margin-top: 134.4px;
  margin-bottom: 89.6px;
}

.page-home .beacon .beacon-content {
  border: 10px solid #4990f9;
  background: #fff;
  padding: 22.4px;
}

.page-home .beacon .beacon-headline,
.page-home .beacon .beacon-body,
.page-home .beacon .subscribe-headline,
.page-home .beacon .subscribe-form {
  margin-bottom: 22.4px;
}

.page-home .beacon .subscribe-btn {
  color: #fff;
  background: #4990f9;
  margin-right: 0;
  margin-top: 22.4px;
}

.page-home .beacon .subscribe-btn:hover {
  color: #fff;
  background: #1872f7;
}

.page-home .beacon .buttons a:first-child {
  padding-left: 0;
}

@media (max-width: 991px) {
  .page-home .beacon .buttons a {
    padding-left: 0;
    text-align: left;
  }
}

@media (min-width: 992px) {
  .page-home .beacon .subscribe-email-input {
    margin-bottom: 0;
  }
  .page-home .beacon .beacon-container {
    margin-top: 134.4px;
  }
  .page-home .beacon .beacon-content {
    border: 10px solid #4990f9;
    background: #fff;
    padding: 44.8px 22.4px 22.4px;
  }
}

.page-home .contact-info-container .contact-info-content {
  min-height: 50vh;
}

@media (min-width: 992px) {
  .page-home .contact-info-container .contact-info-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 30vh;
  }
}

@media (min-width: 1400px) {
  .page-home .contact-info-container .contact-info-content {
    min-height: 25vh;
  }
}

.page-home .contact-info-container .contact-info-content .logo {
  width: 70px;
}

.page-home .contact-info-container .contact-info-content > div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.page-home .contact-info-container .contact-info-content .company-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3rem;
  background: #036;
  color: #fff;
}

.page-home .contact-info-container .contact-info-image {
  max-height: 300px;
}

.page-home .contact-info-container .contact-info-image img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 300px;
  width: 100%;
}

@media (min-width: 992px) {
  .page-home .contact-info-container .contact-info-image {
    max-height: none;
  }
  .page-home .contact-info-container .contact-info-image img {
    height: 100%;
  }
}
/*# sourceMappingURL=main.css.map */