html,
body {
  font-size: 18px;
}

* {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.b,
strong {
  font-weight: bold;
}
.headline-large {
  font-weight: 900;
}

.bg-red {
  background: $red;
  color: $white;
}

.bg-grey {
  background: $grey;
}

.bg-dark {
  background: $dark;
  & a {
    color: $white;
  }
}

.alert {
  margin-bottom: 0;
}

.btn-cta {
  background: $blue;
  color: $offwhite;
  &:hover {
    color: $white;
  }
}
.search {
  width: 80%;
}
.logo-text .second-line {
  padding-left: calc(1rem / 2);
}
@media (max-width: 991px) {
  .display-4 {
    font-size: 2.5rem;
  }
  .btn-cta,
  .btn-cta-outline {
    width: 100%;
  }
  .justify-content-end {
    justify-content: flex-start !important;
  }
}
