.footer {
  border-top: 6px solid $blue;
  background: $white;
  padding-top: $gutter-global * 2;
  padding-bottom: $gutter-global;
  & > * {
    color: $blue;
  }
  .footer-top {
    margin-bottom: $gutter-global;
  }

  @media (min-width: 992px) {
    .footer-bottom {
      position: relative;
      display: flex;
      .footer-email {
        margin-right: auto;
      }
      .footer-year {
        display: flex;
        justify-content: flex-end;
      }
    }
  }
}
