#js-menu-top {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background: $white;
  z-index: 10;
}

.nav-two-rows {
  display: flex;
  flex-direction: column;
}
.navbar {
  padding: 0;
}

.navbar-light {
  .navbar-brand {
    color: $blue;
  }
  .navbar-nav .nav-link {
    color: $blue;
  }
  .form-control {
    color: $blue;
    border-color: $blue;
    max-width: 300px;
    &::placeholder {
      color: $blue;
    }
    @media (min-width: 992px) and (max-width: 1280px) {
      max-width: 160px;
    }
  }
  .form-inline {
    .btn {
      color: $blue;
    }
  }
}

.nav-top {
  .nav-link {
    flex: 1;
    &.navbar-brand {
      text-align: center;
      @media (max-width: 991px) {
        flex-direction: column;
      }
    }
    &.nav-top-end {
      text-align: right;
    }
  }
}
.nav-top {
  display: flex;
  align-items: center;
}

.nav-middle {
  .nav-middle-links {
    display: flex;
    justify-content: center;
  }
}
.border-lr {
  border-right: 3px solid $blue;
  border-left: 3px solid $blue;
}
@media (max-width: 991px) {
  .nav-top,
  .nav-middle,
  .nav-bottom {
    border-bottom: 1px solid $deepblue;
  }
  .bam-link {
    padding: 0 0 0 1rem;
  }
}
.nav-top,
.nav-middle {
  border-bottom: 3px solid $blue;
  width: 100%;
}
.nav-bottom {
  border-bottom: 6px solid $blue;
  width: 100%;
}
.nav-icon {
  color: $blue;
}

.nav-middle,
.nav-top-middle {
  .nav-item {
    display: flex;
    align-items: center;
    .nav-link-with-icon {
      flex-direction: column;
      text-align: center;
      .icon {
        width: 40px;
        max-height: 40px;
      }
    }
  }
}

.navbar-brand {
  margin-right: 0;
}
.nav-top-middle {
  display: none;
}

.nav-middle {
  display: block;
}
@media (min-width: 992px) {
  .nav-top {
    .nav-link-toggler {
      display: none;
    }
    .nav-link.navbar-brand {
      text-align: left;
    }
  }
  .nav-top-middle {
    display: block;
  }
  .nav-middle {
    display: none;
  }
}

// hide body when navbar menu is open
@media (max-width: 991px) {
  body.navbar-collapse-open {
    overflow: hidden;
  }
}
