* {
  font-family: $text-font;
  box-sizing: border-box;
}
html {
  background-color: $grey;
}
html,
body {
  font-family: $text-font;
  width: 100%;
  margin: 0;
  padding: 0;
  color: $blue;
  line-height: $line-global;
  background-color: $grey;
}

header {
  position: relative;
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}
