@font-face {
  font-family: "Fakedes Outline";
  src: url("./fonts/FakedesOutline.otf") format("opentype");
}

@font-face {
  font-family: "Fakedes Outline Bold";
  src: url("./fonts/FakedesOutlineBold.otf") format("opentype");
}
