h1,
.h1,
h2,
.h2,
h3,
.h3 {
  font-family: $headline-font;
  font-weight: $type-bold;
  color: $blue;
  line-height: 1.2;
}
h1,
.h1 {
  font-size: $type-headline-lg;
  // line-height: $line-global * 2;
}

h2,
.h2 {
  font-size: $type-headline-med;
  // line-height: $line-global;
}

h3,
.h3 {
  font-size: $type-body-med;
  // line-height: $line-global;
}

h4,
.h4 {
}

h5,
.h5 {
}

h6,
.h6 {
}

p {
  font-family: $text-font;
  font-size: $type-body-med;
  line-height: $line-global;
}

.p-large {
  font-family: $text-font;
  font-size: $type-body-lg;
  line-height: $line-global * 2;
}

a {
  text-decoration: none;
  color: $text-color;
  &:hover {
    color: $deepblue;
  }
}

.link-logo {
  font-size: 55px;
  display: inline-block;
  width: 55px;
}

.text-white {
  color: $white;
}

.text-black {
  color: $black;
}

.text-link {
  font-family: $text-font;
  color: $text-color;
  fill: currentColor;
  &:hover {
    color: $black;
  }
}

input {
  margin-right: $line-global / 2;
}

.form-inline .form-control {
  padding: calc(22.4px / 2);
  font-size: $type-body-med;
  line-height: $line-global;
}
@media (min-width: 768px) {
  .form-inline .form-control {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .form-inline .form-control {
    width: auto;
  }
}

button[type="submit"],
.button {
  @include reset-input;
  display: inline-block;
  width: auto;
  text-align: center;
  padding: calc(#{$line-global} / 2);
  border-radius: 0.25rem;
  font-size: $type-body-med;
  line-height: $line-global;
  background-color: $white;
  color: $blue;

  &:disabled {
    opacity: 0.75;
    cursor: not-allowed;
  }
  &:not(:disabled):hover {
    background-color: darken($white, 10%);
  }
  &:hover {
    color: $white;
  }
  &.button-cta {
    width: 100%;
    padding: $line-global;
  }
  &.text-white {
    background: $white;
    color: $blue;
    &:hover {
      color: $deepblue;
      background: darken($white, 10%);
    }
  }
  .text-black & {
    background: $white;
    color: $text-color-black;
    &:hover {
      color: $light-black;
      background: lighten($white, 10%);
    }
  }
}

.styled-select {
  position: relative;
  color: $text-color;

  select {
    @include reset-input;
    font-family: $text-font;
    font-size: $type-body-med;
    line-height: $line-global;
    padding-right: $line-global;
    color: currentColor;
    width: 100%;
  }
  .inline-icon {
    position: absolute;
    top: 0;
    right: 0;
    pointer-events: none;
    font-size: 0.65em;
  }
  .text-white & {
    color: $text-color-light-white;
    &:hover {
      color: $white;
    }
  }
  .text-black & {
    color: $text-color-black;
    &:hover {
      color: $light-black;
    }
  }
}
