.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

.wrapper {
  padding-left: $offset-global;
  padding-right: $offset-global;
  @media (max-width: 767px) {
    padding-left: $line-global;
    padding-right: $line-global;
  }
}

.page-section {
  min-height: calc(100vh - 158px);
  @media (min-width: 992px) and (max-width: 1399px) {
    min-height: calc(100vh - 139px);
  }
}

@media (min-width: 992px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
  }
}

.fancy-font {
  font-family: "Fakedes Outline", serif;
}

.fancy-font-bold {
  font-family: "Fakedes Outline Bold", serif;
}

.font-bold {
  font-weight: 700;
}

.mh-100-vh {
  min-height: 100vh;
}

.btn {
  border-radius: 0;
}

.btn-primary {
  background-color: $blue;
  border-color: $blue;
}

.jumbotron {
  border-radius: 0;
}

.main-content {
  // background: $grey;
}

.bg-white {
  background-color: $white;
}

.bg-absolute {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
}

.bg-cover {
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-frame-white {
  background-color: $white;
}

.bg-border-blue {
  border: 1rem solid $blue;
}

.bg-lake-beach-view {
  background-image: url("./images/smalllake.jpg");
}

.bg-bbl {
  background-image: url("./images/big-bass-lake.jpg");
}

.bg-lake-beach-two {
  background-image: url("./images/second-beach-view.jpg");
}

.logo {
  width: 70px;
  @media (min-width: 992px) {
    width: 75px;
  }
}

.scroll-container {
  .scroll-button {
    @include reset-input;
    color: $white;
  }
}

.text-white {
  color: $white;
  h1,
  .h1,
  h2,
  .h2,
  h3,
  .h3,
  h4,
  .h4 {
    color: $white;
  }
  p,
  .accent-color {
    color: $text-color-white;
  }
  a {
    color: $white;
    &:hover {
      color: $white;
    }
  }
}

@media (max-width: 991px) {
  .bam-btn {
    font-size: 14px;
  }
}

// for boating

@keyframes fadeInOut {
  0% {
    opacity: 1;
  }
  47.5% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  97.5% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOutIn {
  0% {
    opacity: 0;
  }
  47.5% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  97.5% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
