// variables
$blue: #4990f9;
$deepblue: #036;
$offwhite: #f4f9ff;
$pale: #fff7d6;
$grey: #f1f2f3;
$orange: #d6a419;

$black: #000;
$white: #fff;

$headline-font: "Poppins", "Georgia", "Times New Roman", serif;
$text-font: "Poppins", "Georgia", "Times New Roman", serif;

$light-white: #fafafa;
$light-black: #333;

$text-color: $blue;
$text-color-white: #ccc;
$text-color-light: #707070;
$text-color-light-white: #aaa;
$text-color-black: $black;

$border-color: rgba(0, 0, 0, 0.15);
$border-color-white: rgba(255, 255, 255, 0.15);

$standard-border: 1px solid $border-color;
$standard-border-white: 1px solid $border-color-white;
$card-border-thick: 10px solid $blue;

$line-global: 22.4px;
$gutter-global: $line-global * 2;
$offset-global: $gutter-global;

$header-height: 100px;

$type-headline-huge: 89.6px;
$type-headline-lg: 44.8px;
$type-headline-med: 22.4px;
$type-headline-sm: 16px;
$type-body-lg: 31px;
$type-body-med: 16px;

$type-bold: 700;
$type-book: 400;

$button-height: $line-global * 2;
