.page-home {
  .bg-home {
    min-height: 90vh;
    background: url("../images/markus-spiske-hqCEQTc5gZA-unsplash.jpg") center
      center no-repeat;
    background-size: cover;
    background-color: $blackoverlay;
    background-blend-mode: overlay;
    margin-bottom: 0;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: $white;
    hr {
      border-color: $white;
    }
  }
}
