.page-home {
  .home-top {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;
    > div {
      flex: 1;
    }
    .home-top-logo {
      flex: 7;
      background-color: $white;
      background-position: center;
      display: flex;
      justify-content: center;
      align-items: center;
      .logo {
        width: 200px;
      }
    }
    .bg-blue {
      background-color: $blue;
    }
  }

  .hl-card {
    z-index: 2;
    position: relative;
    background-color: $white;
    margin-bottom: $offset-global;
    border: $card-border-thick;
    max-width: 280px;
    .hl-card-badge {
      position: absolute;
      top: -50px;
      left: 20%;
      background-color: $blue;
      color: $white;
      border-radius: 50%;
      height: 80px;
      width: 80px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      border: 6px solid $white;
      .hl-card-icon {
        height: 40px;
      }
    }
    .hl-card-content {
      color: $blue;
      padding: $offset-global $line-global $line-global;
    }
    @media (min-width: 992px) {
      max-width: 400px;
    }
  }

  .brass-pelican {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding-top: $gutter-global * 3;
    padding-bottom: $gutter-global * 2;
    &::before {
      content: "";
      background: url("./images/svg/waves-2.svg") $pale;
      position: absolute;
      background-repeat: repeat-y;
      top: -20px;
      left: -20px;
      right: -20px;
      bottom: -20px;
    }
    .brass-pelican-image {
      max-width: 280px;
    }
    .brass-pelican-image {
      z-index: 1;
      min-height: 30vh;
      img {
        object-fit: cover;
      }
    }
    .brass-pelican-card {
      z-index: 2;
      position: relative;
      border: 10px solid $blue;
      background-color: $white;
      margin-bottom: $offset-global;
    }
    .brass-pelican-badge {
      position: absolute;
      top: -50px;
      left: 20%;
      background-color: $blue;
      color: $white;
      border-radius: 50%;
      height: 80px;
      width: 80px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      border: 6px solid $white;
      .pelican-icon {
        height: 40px;
      }
    }
    .hl-card-content {
      .brass-pelican-headline {
        margin-bottom: $line-global;
      }
      hr {
        border-color: $blue;
      }
      .brass-pelican-menu-link {
        display: block;
        margin-top: $line-global;
        text-decoration: underline;
      }
    }
    @media (min-width: 992px) {
      .hl-card {
        margin-top: -25vh;
        margin-left: -5vw;
      }
      .brass-pelican-image {
        margin-right: -30vw;
        max-width: 400px;
      }
    }
  }
  .about-container {
    color: $pale;
    position: relative;
    margin-bottom: 0;
    overflow: hidden;
    .bg-about-color {
      background-color: $deepblue;
    }
    .bg-about-image {
      background-image: url("./images/holiday-lakes-map.svg");
      margin: -5px;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      z-index: 2;
      opacity: 0.1;
    }
    .about-content {
      z-index: 3;
      .about-headline {
        color: $pale;
        margin-bottom: $line-global;
      }
      .about-btn {
        margin-top: $line-global;
      }
      hr {
        border-color: $pale;
      }
    }
    @media (min-width: 992px) {
      .bg-about-image {
        transition: opacity 0.3s ease;
        opacity: 0.2;
        background-position: right bottom;
        &:hover {
          opacity: 1;
        }
      }
    }
  }

  .boating {
    background-color: $blue;
    color: $white;
    position: relative;
    overflow: hidden;
    .boating-image {
      max-width: 500px;
      max-height: 400px;
      margin: auto auto 120px;
      top: auto;
      opacity: 0.2;
      &:first-of-type img {
        animation: fadeInOut 10s ease infinite;
      }
      &:nth-of-type(2) img {
        animation: fadeOutIn 10s ease infinite;
      }
    }
    @media (min-width: 992px) {
      .boating-content {
        position: relative;
        z-index: 2;
        color: $pale;
      }
    }
    @media (min-height: 950px) {
      .boating-image {
        margin: auto auto 300px;
      }
    }
  }
  .announcements {
    .announcements-section {
      margin-top: $line-global;
      margin-bottom: $line-global;
      .announcements-item {
        flex: 1;
        padding-right: 0;
        padding-left: 0;
      }
      .announcements-bottom,
      .announcements-top {
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
      }
      .announcements-top-left {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        .announcements-top-left-headline {
          position: relative;
          z-index: 2;
        }
        .announcements-top-left-image {
          // opacity: 0.2;
          max-height: 250px;
          max-width: 250px;
          margin-left: auto;
          margin-top: auto;
          margin-bottom: -100px;
        }
      }

      .announcements-bottom-left-bg-image {
        max-height: 180px;
        max-width: 125px;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: -100px;
        margin-left: -20px;
      }

      .announcements-top-right {
        margin-top: calc(#{$gutter-global} * 2);
      }
      .announcements-bottom-right {
        order: -1;
        margin-bottom: $line-global;
        .announcements-bottom-right-headline {
          margin-bottom: $line-global;
        }
      }
    }
    @media (min-width: 992px) {
      .announcements-section {
        margin: $gutter-global;
        .announcements-bottom,
        .announcements-top {
          display: flex;
          flex-direction: row;
          align-items: initial;
        }
        .announcements-top-left {
          margin: $gutter-global $gutter-global 0;
        }
        .announcements-top-right,
        .announcements-bottom-right {
          padding: 0 calc(#{$gutter-global} * 2) $line-global;
        }
        .announcements-bottom-left-bg-image {
          max-width: 180px;
        }
        .announcements-bottom-left {
          margin-top: $gutter-global * 5;
        }
        .announcements-top-right {
          margin-top: $gutter-global * 2;
        }
        .announcements-top-left-headline {
          font-size: $type-headline-huge;
          line-height: 1.2;
          text-align: center;
        }
        .announcements-bottom-right {
          order: initial;
          margin-bottom: 0;
        }
      }
    }
  }

  .explore-container {
    color: $deepblue;
    @media (min-width: 992px) {
      .explore-image {
        img {
          object-fit: cover;
        }
      }
      .explore-text {
      }
      min-height: 50vh;
      display: flex;
      > div {
        width: 50%;
      }
    }
  }

  .beacon {
    background: url("./images/svg/waves-2.svg");
    background-repeat: repeat-y;
    .hl-card {
      max-width: 500px;
    }
    .beacon-card {
      margin-top: $offset-global * 3;
      margin-bottom: $offset-global * 2;
    }
    .beacon-content {
      border: 10px solid $blue;
      background: $white;
      padding: $line-global;
    }
    .beacon-headline,
    .beacon-body,
    .subscribe-headline,
    .subscribe-form {
      margin-bottom: $line-global;
    }

    .subscribe-btn {
      color: $white;
      background: $blue;
      margin-right: 0;
      margin-top: $line-global;
      &:hover {
        color: $white;
        background: darken($blue, 10%);
      }
    }
    .buttons {
      a:first-child {
        padding-left: 0;
      }
    }
    @media (max-width: 991px) {
      .buttons {
        a {
          padding-left: 0;
          text-align: left;
        }
      }
    }
    @media (min-width: 992px) {
      .subscribe-email-input {
        margin-bottom: 0;
      }
      .beacon-container {
        margin-top: $offset-global * 3;
      }
      .beacon-content {
        border: 10px solid $blue;
        background: $white;
        padding: $offset-global $line-global $line-global;
      }
    }
  }

  .contact-info-container {
    .contact-info-content {
      min-height: 50vh;
      @media (min-width: 992px) {
        display: flex;
        min-height: 30vh;
      }
      @media (min-width: 1400px) {
        min-height: 25vh;
      }
      .logo {
        width: 70px;
      }

      > div {
        flex: 1;
      }
      .company-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 3rem;
        background: $deepblue;
        color: $white;
      }
    }
    .contact-info-image {
      max-height: 300px;
      img {
        object-fit: cover;
        height: 300px;
        width: 100%;
      }
    }
    @media (min-width: 992px) {
      .contact-info-image {
        max-height: none;
        img {
          height: 100%;
        }
      }
    }
  }
}
