.blog-list-section {
  position: relative;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column-reverse;
  @media (min-width: 992px) {
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    .bg-blog-list {
    }
  }
  .border-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: -1px;
    z-index: 2;
  }
  .blog-list-content {
    padding-bottom: 3rem;
    .blog-list-items {
      .blog-list-item {
        &:hover {
          p {
            text-decoration: none;
          }
        }
      }
    }
  }
  .bg-blog-list {
    background: url("../images/geraldine-lewa-3fWE0Dp_aj8-unsplash.jpg") center
      center no-repeat;
    background-size: cover;
    width: auto;
    min-height: 50vh;
    margin-right: -15px;
    margin-left: -15px;
    margin-bottom: 1rem;
  }
  @media (min-width: 992px) {
    .blog-list-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      min-height: 60vh;
      padding-bottom: 6rem;
    }
    .bg-blog-list {
      min-height: 100vh;
      width: 50%;
      margin-right: -15px;
      margin-left: 0;
      margin-bottom: 0;
    }
  }
}
