footer {
  .navbar-brand {
    margin-right: 0;
  }
  a {
    color: rgba(0, 0, 0, 0.8);
    &:hover {
      color: rgba(0, 0, 0, 1);
    }
  }
  @media (min-width: 992px) {
    .navbar-brand {
      margin-left: auto;
      margin-right: 3rem;
    }
  }
}
