.alert-top {
  background: $blue;
  border-radius: 0;
  & a {
    color: $offwhite;
  }
  .close {
    color: $white;
  }
}

.logo {
  width: 230px;
  height: auto;
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 992px) {
  .logo {
  }
}

@media (max-width: 991px) {
  header {
    .logo {
      width: 180px;
    }
    .search {
      width: 70%;
    }
    .navbar-toggler {
      border: 1px solid $offwhite;
    }
    .navbar-rows {
      padding-left: 10px;
    }
  }
}

@media (max-width: 575px) {
  header,
  footer {
    .logo {
      width: 140px;
    }
    .logo-text,
    .navbar-toggler {
      font-size: 18px;
    }
  }
}
