.navbar-top {
  background-color: $red;

  .navbar-rows {
    flex-direction: column;
  }
  .nav-item-spacer {
    display: none;
  }
  .navbar-brand,
  .nav-link,
  .navbar-toggler {
    color: $offwhite;
    &:hover {
      color: $white;
    }
  }
  @media (min-width: 992px) {
    .nav-item-spacer {
      display: block;
    }
    .navbar-links-top {
      .nav-item:not(:first-child) {
        margin-left: 1rem;
      }
      .nav-item:not(:last-child) {
        margin-right: 1rem;
      }
    }
    .navbar-links-bottom {
      .nav-item:not(:first-child) {
        margin-left: 1rem;
      }
    }
  }
  @media (max-width: 991px) {
    .nav-mobile {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
    .navbar-toggler,
    .navbar-toggler-icon {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .navbar-toggler-text {
      margin-bottom: 3px;
    }
    .navbar-toggler-icon {
      color: $offwhite;
      &:hover {
        color: $white;
      }
    }
    .navbar-links-top {
      align-items: flex-start !important;
      margin-bottom: 0 !important;
    }
  }
}
