.services {
  min-height: 40vh;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 3;
  margin-top: -1px;
}
svg {
  fill: $red;
  //   path:first-child {
  //     opacity: 0.3;
  //   }
  //   path:nth-child(2) {
  //     opacity: 0.7;
  //   }
  //   path:nth-child(3) {
  //     opacity: 0.5;
  //   }
}
