html,
body {
  font-size: 18px;
}

* {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.b,
strong {
  font-weight: bold;
}

.headline-large {
  font-weight: 900;
}

.bg-red {
  background: #d6242c;
  color: #ffffff;
}

.bg-grey {
  background: #444;
}

.bg-dark {
  background: #2f4858;
}

.bg-dark a {
  color: #ffffff;
}

.alert {
  margin-bottom: 0;
}

.btn-cta {
  background: #317eea;
  color: rgba(255, 255, 255, 0.8);
}

.btn-cta:hover {
  color: #ffffff;
}

.search {
  width: 80%;
}

.logo-text .second-line {
  padding-left: calc(1rem / 2);
}

@media (max-width: 991px) {
  .display-4 {
    font-size: 2.5rem;
  }
  .btn-cta,
  .btn-cta-outline {
    width: 100%;
  }
  .justify-content-end {
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important;
  }
}

.alert-top {
  background: #317eea;
  border-radius: 0;
}

.alert-top a {
  color: rgba(255, 255, 255, 0.8);
}

.alert-top .close {
  color: #ffffff;
}

.logo {
  width: 230px;
  height: auto;
}

.logo img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

@media (max-width: 991px) {
  header .logo {
    width: 180px;
  }
  header .search {
    width: 70%;
  }
  header .navbar-toggler {
    border: 1px solid rgba(255, 255, 255, 0.8);
  }
  header .navbar-rows {
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  header .logo,
  footer .logo {
    width: 140px;
  }
  header .logo-text,
  header .navbar-toggler,
  footer .logo-text,
  footer .navbar-toggler {
    font-size: 18px;
  }
}

.navbar-top {
  background-color: #d6242c;
}

.navbar-top .navbar-rows {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navbar-top .nav-item-spacer {
  display: none;
}

.navbar-top .navbar-brand,
.navbar-top .nav-link,
.navbar-top .navbar-toggler {
  color: rgba(255, 255, 255, 0.8);
}

.navbar-top .navbar-brand:hover,
.navbar-top .nav-link:hover,
.navbar-top .navbar-toggler:hover {
  color: #ffffff;
}

@media (min-width: 992px) {
  .navbar-top .nav-item-spacer {
    display: block;
  }
  .navbar-top .navbar-links-top .nav-item:not(:first-child) {
    margin-left: 1rem;
  }
  .navbar-top .navbar-links-top .nav-item:not(:last-child) {
    margin-right: 1rem;
  }
  .navbar-top .navbar-links-bottom .nav-item:not(:first-child) {
    margin-left: 1rem;
  }
}

@media (max-width: 991px) {
  .navbar-top .nav-mobile {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .navbar-top .navbar-toggler,
  .navbar-top .navbar-toggler-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .navbar-top .navbar-toggler-text {
    margin-bottom: 3px;
  }
  .navbar-top .navbar-toggler-icon {
    color: rgba(255, 255, 255, 0.8);
  }
  .navbar-top .navbar-toggler-icon:hover {
    color: #ffffff;
  }
  .navbar-top .navbar-links-top {
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: flex-start !important;
    margin-bottom: 0 !important;
  }
}

.services {
  min-height: 40vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 3;
  margin-top: -1px;
}

svg {
  fill: #d6242c;
}

.blog-list-section {
  position: relative;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

@media (min-width: 992px) {
  .blog-list-section {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.blog-list-section .border-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin-top: -1px;
  z-index: 2;
}

.blog-list-section .blog-list-content {
  padding-bottom: 3rem;
}

.blog-list-section .blog-list-content .blog-list-items .blog-list-item:hover p {
  text-decoration: none;
}

.blog-list-section .bg-blog-list {
  background: url("../images/geraldine-lewa-3fWE0Dp_aj8-unsplash.jpg") center center no-repeat;
  background-size: cover;
  width: auto;
  min-height: 50vh;
  margin-right: -15px;
  margin-left: -15px;
  margin-bottom: 1rem;
}

@media (min-width: 992px) {
  .blog-list-section .blog-list-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-height: 60vh;
    padding-bottom: 6rem;
  }
  .blog-list-section .bg-blog-list {
    min-height: 100vh;
    width: 50%;
    margin-right: -15px;
    margin-left: 0;
    margin-bottom: 0;
  }
}

footer .navbar-brand {
  margin-right: 0;
}

footer a {
  color: rgba(0, 0, 0, 0.8);
}

footer a:hover {
  color: black;
}

@media (min-width: 992px) {
  footer .navbar-brand {
    margin-left: auto;
    margin-right: 3rem;
  }
}

.page-home .bg-home {
  min-height: 90vh;
  background: url("../images/markus-spiske-hqCEQTc5gZA-unsplash.jpg") center center no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.3);
  background-blend-mode: overlay;
  margin-bottom: 0;
  padding-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #ffffff;
}

.page-home .bg-home hr {
  border-color: #ffffff;
}
/*# sourceMappingURL=main.css.map */